<!doctype html>
<html>
  <title>Upload new Files</title>
  <h1>Upload new Fixture and Plate Files</h1>
  <form method=post enctype=multipart/form-data>
    <p>Fixture File</p>
    <input type=file name=file class='fixture-input'><br>
    <p>Plate File</p>
    <input type="file" name='file[]' multiple='' class='plate-input'><br>
    <br>
    <input type=submit value=Upload>
  </form>
</html>

<!--
  <p>Fixutre File</p>
  <input type=file name=file class='fixture-input'><br>
  <p>Plate File</p>
  <input type="file" name="file[]" multiple="" class="plate-input"><br>
  <br>
-->